/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;

}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#logo{
  text-align: center;
}

#main_nav{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
    flex-basis: 100%;


}

#main_nav a:hover{
    background: #ddddff;
}

#main_content{
  background: #ddffff;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;

}



#sidebar_content div{
  background: #ffffdd;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0px;
}

#site_footer{
  text-align: center;
  background: #ffddaa;
  padding: 10px;
}

#site_footer nav a{
  padding: 10px;
}

@media screen and (min-width: 600px){
  #main_nav a{
    flex-basis: 27%;
  }
  #sidebar_content{
    display: flex;
  }
  #sidebar_content div{
    flex-basis: 33%;
  }
}

@media screen and (min-width: 1100px) {
  header{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  #logo{
    flex-basis: 30%;
    text-align: left;
  }
  #main_nav{
    display: flex;
    flex-basis: 70%;
  }
  #main_content{
    display: flex;
  }
  #main_content div:first-child{
    flex-basis: 69%;
  }


}
